<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  
  <!-- log4j跟踪   -->
  <settings>
    <setting name="logImpl" value="LOG4J"/>
    <!-- 允许使用二级缓存  -->
    <!-- <setting name="cacheEnabled"  value="true"/> -->
  </settings>
  
  
  <!-- 给实体类起别名 -->
  <typeAliases>
    <package name="com.example.me.entity"/>
  </typeAliases>

</configuration>